@charset "UTF-8";

h3{
	text-align: center;
}

a{
	text-decoration: none;
}

h4.list-write-link{
	text-align: right;
	color: blue;
	font-size: 15px;
}

table{
	
    width: 500px;
    border: 3px solid gray;
    text-align: center;
    border-collapse: collapse;
}

th, td{
	border: 1px solid gray;
	margin:0;
	padding:5px;
}

#container{
	display:flex;
}

#container div{
	width: 500px;
	text-align: center;
}

textarea{
	font-size: 10px;
	font-family: Gothic;
}
